.xs1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    border: black;
}
.xs2{
    width: 200px;
    height: 200px;
    background-color: aqua;
    text-align: center;
    line-height: 200px;
    cursor:wait;
}