.p{
    background-color: rgb(255, 248, 229);
    line-height: 80px;
    text-align: center;
}
.img1{
    background-image: url(moto1.jpeg);
    width: 2000px ;
    height: 900px;
    background-attachment: fixed;
}
.img2{
    background-image: url(moto2.jpeg);
    width: 2000px ;
    height: 900px;
    background-attachment: fixed;
}
.img3{
    background-image: url(moto3.jpeg);
    width: 2000px ;
    height: 900px;
    background-attachment: fixed;
}
.img4{
    background-image: url(moto4.jpeg);
    width: 2000px ;
    height: 900px;
    background-attachment: fixed;
}