*{
    margin: 0;
    padding: 0;
}

#list{
    width: 1000px;
    overflow: hidden;
    list-style: none;
}
#list>li{
    float: left;
    width: 180px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: relative;
}

#list>li>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}